.nav-web{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: -20px;
}
.logo-web{
width: 130px;

}
.links-web a{
    padding: 0 20px;
    opacity: .9;
}
.links-web a:last-child{
    padding-right: 0;
}
@media (max-width: 750px){
    .nav-web{
        padding-top: 50px;
    }
    .links-web a{
        font-size: 23px;
    }
}

@media (max-width: 550px){
    .links-web{
        display: none;
    }
    .nav-web{
        flex-direction: column;
    }

    .logo-web{
        margin-bottom: -10px;
        margin-top: -40px;
        width: 150px;
    }


}


.link-item-web:hover{
    opacity: 0.5;
    transition: 0.5s;
}